<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cegepaas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdvisorEditPassword"></activity>
        <activity android:name=".AdvisorEditProfile" />
        <activity android:name=".StudentEditProfile" />
        <activity android:name=".StudentEditPassword" />
        <activity android:name=".AdvisorProfileActivity" />
        <activity android:name=".StudentProfileActivity" />
        <activity android:name=".StudentChatActivity" />
        <activity android:name=".AdvisorChatActivity" />
        <activity android:name=".AdvisorBookingActivity" />
        <activity android:name=".StudentMeetingsActivity" />
        <activity android:name=".AdvisorMeetingsActivity" />
        <activity android:name=".AdvisorAcceptRejectActivity" />
        <activity android:name=".StudentHomeScreenActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".AddDateSlotsActivity" />
        <activity android:name=".AdvisorHomeActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".AdvisorLoginActivity" />
        <activity android:name=".AdminAdvisorDeleteActivity" />
        <activity android:name=".AdminStudentDeleteActivity" />
        <activity android:name=".StudentRegistrationActivity" />
        <activity android:name=".UserSelectActivity" />
        <activity android:name=".AdvisorRegistrationActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>